* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
    overflow: hidden;
}

body {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2rem;
}

::selection {
    background-color: none;
}

.header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 2rem;
}

.header-element {
    display: inline-block;
}

.horizontal-line {
    border-bottom: 1px solid black;
    width: 100%;
}

.main {
    padding: 2rem;
} 

.counter {
    display: flex;
    justify-content: space-between;
    margin-bottom: 3rem;
}

.current-color {
    text-align: right;
    user-select: none;
}

.options-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2.5rem;
}

.shape-selector {
    display: inline-block;
    width: 27.5rem; 
    padding: 1.1rem 1.8rem 0.8rem 1.8rem;
    border: 2px solid black;
    border-radius: 12.5rem;
}

.colour-selector {
    display: inline-block;
    width: 73rem;
    padding: 1.1rem 1.8rem 0.8rem 1.8rem;
    border: 2px solid black;
    border-radius: 12.5rem;
}

.shape {
    display: inline-block;
    width: 2.5rem;
    height: 2.5rem;
}

.shape-light {
    background-color: black;
}

.shape-dark {
    background-color: white;
}

.shape-active-light {
    background-color: black;
}

.shape-active-dark {
    background-color: white;
}

.shape-inactive {
    background-color: transparent;
    border: 2px solid gray;
}

.shape:not(:last-child) {
    margin-right: 1.5rem;
}

#circle {
    border-radius: 1.5rem;
}

#triangle {
    position: relative;
    background-color: transparent;
    width: 0rem;
    border-bottom:solid 2.5rem gray;
    border-right:solid 1.5rem transparent;
    border-left:solid 1.5rem transparent;
}

#triangle::after {
    content: '';
    position: absolute;
    top: 2.5px;
    left: -1.2rem;
    background-color: transparent;
    width: 0rem;
    border-bottom:solid 2rem black;
    border-right:solid 1.2rem transparent;
    border-left:solid 1.2rem transparent;
}

.triangle-light {
    position: relative;
    background-color: transparent;
    width: 0rem;
    border-bottom:solid 2.5rem black !important;
    border-right:solid 1.5rem transparent;
    border-left:solid 1.5rem transparent;
}

.triangle-light::after {
    content: '';
    position: absolute;
    top: 2.5px;
    left: -1.2rem;
    background-color: transparent;
    width: 0rem;
    border-bottom:solid 2rem black !important;
    border-right:solid 1.2rem transparent;
    border-left:solid 1.2rem transparent;
}

.triangle-dark {
    position: relative;
    background-color: transparent;
    width: 0rem;
    border-bottom:solid 2.5rem white !important;
    border-right:solid 1.5rem transparent;
    border-left:solid 1.5rem transparent;
}

.triangle-dark::after {
    content: '';
    position: absolute;
    top: 2.5px;
    left: -1.2rem;
    background-color: transparent;
    width: 0rem;
    border-bottom:solid 2rem white !important;
    border-right:solid 1.2rem transparent;
    border-left:solid 1.2rem transparent;
}

#rectangle-hr {
    width: 5rem;
}

#rectangle-vr {
    width: 2rem;
}

#line {
    width: 4px;
}

.colour-block {
    display: inline-block;
    width: 2.5rem;
    height: 2.5rem;
}

.colour-block:not(:last-child) {
    margin-right: 1rem;
}

@media only screen and (max-width: 37.5em) {
    .container {
        display: block;
    }

    .colour-selector {
        width: 33rem; 
        padding: 1.1rem 1.8rem 0.8rem 1.8rem;
        border: 2px solid black;
        border-radius: 3rem;
        margin-bottom: 1.5rem;
    }

    .colour-block {
        width: 2rem;
        height: 2rem;
    }

    .colour-block:nth-child(10) {
        margin-right: 0;
    }

    .current-color {
        text-align: left;
        margin-top: 1.2rem;
    }

    #defaultCanvas0 {
        margin-top: 1.5rem;
    }
}